.work{
    width:100%;
    margin:100px 0px;
    &__top{
        text-align: center;
        h3{
            font-family: $fontSecondary;
            color:$Black;
            font-size:24px;
        }
        h2{
            font-size: 30px;
            font-weight:900;
            color:$Black;
            margin-top: 15px;
            position: relative;
            &::after{
                content:'';
                position:absolute;
                bottom:-40px;
                left:50%;
                transform: translateX(-50%);
                width: 60px;
                height:3px;
                border-radius:10px;
                background-color: $Red;

            }
        }
        &--desc{
            margin-top: 70px;
            span{
                color:$grayLight;
                font-size:15px;
                line-height:20px;
                font-family: $fontPrimary;
            }
            
        }
    }
    &__image{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 250px 250px;
        overflow: hidden;
        justify-content: center;
        position: relative;
        &-1,&-2,&-3,&-4,&-5,&-6,&-7{
            position: relative;
            overflow: hidden;
            &::before{
                content:'CREATIVELY DESIGNED';
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                color:$White;
                font-family:$fontPrimary;
                z-index: 1;
                width:100%;
                height:100%;
                font-size:12px;
                font-weight:bold;
                transition:transform 0.35s linear, opacity 0.3s linear;
                transform:translateY(100%);
                opacity: 0;
                
            }
            &:hover::before{
                transform:translateY(0%);
                background:linear-gradient(to bottom, $Red, $Yellow);
                opacity: 0.9;
            }   
            img{
                width:100%;
                height:100%;
                
            }
        }
        &-2{
            grid-area: 1/3/span 2/ span 1;
        }
    }
    &__add{
        margin: 100px 0px;
        display:flex;
        &--img{
            flex-basis:25%;
            border-radius:50%;
            overflow: hidden;
            transition:opacity 0.3s linear; 
            &:hover{
                opacity: 0.5;
            }
            img{
                
                width:100%;
                height:100%;
            }
        }
        &--desc{
            padding:0px 20px;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items:flex-start;

            span{
                color:$grayLight;
                font-size:22px;
                font-style: italic;
                font-family:$fontPrimary;
            }
            address{
                color:$Black;
                font-size:24px;
                font-family:$fontSecondary;
                position:relative;
                margin-left:70px;
                margin-top:20px;
                &:before{
                    content:'';
                    position: absolute;
                    top:50%;
                    left:-70px;
                    transform: translateY(-50%);
                    width: 60px;
                    height:3px; 
                    border-radius:10px;
                    background: $Red;
                }
            }
        }
    }
    &__per{
        width:100%;
        padding:100px 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align:center;
        &--image{
            position: absolute;
            width:100%;
            height:100%;
            opacity: 0.1;
            img{
                background-size: 100% 100%;
                width:100%;
                height:100%;
            }
        }
        
        h3{
            font-size:24px;
            font-family: $fontSecondary;
            color:$Black;
        }
        h2{
            font-size: 30px;
            font-weight:900;
            color:$Black;
            margin-top: 15px;
            position: relative;
            &::after{
                content:'';
                position:absolute;
                bottom:-40px;
                left:50%;
                transform: translateX(-50%);
                width: 60px;
                height:3px;
                border-radius:10px;
                background-color: $Red;

            }
        }
        &--people{
            margin-top:100px;
            position: relative;
            display:flex;
            flex-wrap: wrap;
            &-1, &-2, &-3, &-4{
                flex-basis:50%;
                display:flex;
                align-items: flex-start;
                margin-bottom:60px;
                cursor: context-menu;
                &-img{
                    flex-basis: 35%;
                    height:100px;
                    border-radius:50%;
                    overflow: hidden;
                    border:0.5px solid #ddd;
                    border:3px solid transparent;
                    transition: border 0.3s linear, transform 0.3s linear;
                    img{
                        height:100%;
                    }
                    
                    
                }
                &:hover > &-img{
                    border:3px solid $Red;
                    transform: scale(1.1);
                    
                }
                &-content{
                    padding-left: 20px;
                    display:flex;
                    flex-direction:column;
                    align-items:flex-start;
                    justify-content: center;
                    font-family: $fontPrimary;
                     h3{
                         font-family: $fontPrimary;
                         font-size:14px;
                         font-weight: bold;
                     }
                     h4{
                         margin-top:15px;
                        font-size: 15px;
                        font-style:italic;
                        color:$grayLight;
                        position:relative;
                        &::after{
                            content:'';
                            position:absolute;
                            bottom:-15px;
                            left:0px;
                            width: 60px;
                            height:3px; 
                            border-radius: 10px;
                            background:$Red;

                        }
                     }
                     span{
                         width:90%;
                         font-size:15px;
                         margin-top: 30px;
                         text-align:left;
                         color:$grayLight;
                     }
                }
                
            }
            &-1{
                &-img{
                    img{
                        transform: translateX(-45px);
                    }
                }
            }
            &-2{
                &-img{
                    img{
                        transform: scale(2.7);
                    }
                }
            }
            &-3{
                &-img{
                    img{
                        transform: translateX(-30px) scale(1.3);
                    }
                }
            }
            &-4{
                &-img{
                    img{
                        transform: translate(72px, 119px) scale(4);
                    }
                }
            }
            
        }
    }
}

@media screen and (max-width:899px) {
    .work__top--desc span{
        padding:0px 20px;
    }
    .work__add{
        padding:0px 40px;
    }
    .work__add--img{
        flex-basis: 40%;
    }
    .work__add--desc span{
        font-size:20px;
    }
    .work__per--people-1, .work__per--people-2, .work__per--people-3, .work__per--people-4{
        flex-direction:column;
    }
    .work__per--people-1-img, .work__per--people-2-img, .work__per--people-3-img, .work__per--people-4-img{
        width:100px;
        flex-basis: auto;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 799px) {
    .work__image{
        grid-template-columns: 33% 33% 33%;
    }
    .work__image-6, .work__image-7{
        display:none;
    }
    .work__add--img{
        flex-basis: 100%;
    }
    .work__add--desc span{
        display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        hyphens: auto;
        font-size:18px;
    }
    .work__per--people-1-content span, .work__per--people-2-content span, .work__per--people-3-content span, .work__per--people-4-content span{
        display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        hyphens: auto;
    }
}
@media screen and (max-width: 599px) {
    .work__image{
        grid-template-rows: 150px 150px;
        
    }
    .work__add{
        display:none;
    }
    .work__per{
        padding:50px 0px;
    }
    
    .work__add--desc span{
        font-size:16px;
    }
    .work__add--desc address{
        font-size:16px;
    }
    .work__per--people-1, .work__per--people-2, .work__per--people-3, .work__per--people-4{
        flex-direction: row;
        flex-basis: 90%;
    }
    .work__per--people-1-img, .work__per--people-2-img, .work__per--people-3-img, .work__per--people-4-img{
        width:100%;
        height:70px;
    }
    .work__per--people{
        justify-content: center;
    }
}